{% extends 'geonode-mapstore-client/_geonode_config.html' %}
{% load i18n %}
{% load static %}
{% load custom_tags %}

{% block override_local_config %}
<script>
    window.__GEONODE_CONFIG__.overrideLocalConfig = function(localConfig, _) {
        // Here the localConfig can be overridden and/or extended
        localConfig.geoNodeApi.endpointV1 = "/{{custom_theme.slug}}/api/"
        localConfig.geoNodeApi.endpointV2 = "/{{custom_theme.slug}}/api/v2"
        return localConfig;
    };
</script>
{% endblock %}

{% block override_settings  %}
    {% load_subsite_info request as subsite_slug%}

    {% if subsite_slug %}
        siteUrl = '{{site_url}}/{{subsite_slug}}/'
        createLayer = false
    {% endif %}
{% endblock %}
