{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% load custom_tags %}


{% block container %}

{% load_settings 'ENABLE_HOME_OVERRIDE_WITH_SUBSITE_LIST' as override_needed%}
{% load_subsite_info request as subsite_slug %}


{% if override_needed and not subsite_slug%}
    {% load_subsite_queryset as subsite_queryset %}

    <div id="container">
        <ul class="gn-card-list">
            {% for subsite in subsite_queryset %}
            <li style="width: 363px; margin-right: 24px; margin-top: 24px;">
                <div class="gn-resource-card gn-card-type-grid ">
                   <a class="gn-resource-card-link" href="{% url 'subsite_home' subsite.slug %}"></a>
                   <div class="card-resource-grid">
                      <div class="card-img-top card-img-placeholder">
                        {% if subsite.logo %}
                        <img class="card-img-top" src="{{ MEDIA_URL }}{{subsite.logo}}">
                        {% else %}
                        <i class="fa fa-database"></i>
                        {% endif %}
                      </div>
                      <div class="gn-resource-card-body-wrapper">
                         <div class="card-body">
                            <div class="card-title">
                               <div><a href="{% url 'subsite_home' subsite.slug %}" class="gn-card-title">{{subsite.slug}}</a></div>
                               <div>
                                  <p class="gn-resource-status-text"></p>
                               </div>
                            </div>
                            <p class="card-text gn-card-description grid">{{subsite.description}}</p>
                         </div>
                         <div class="gn-footer-wrapper">
                            <div class="gn-card-footer" style="padding: 0px 0.5rem;">
                               <div class="gn-card-actions">
                                  <div class="gn-card-view-editor"><a href="{% url 'subsite_home' subsite.slug %}" rel="noopener noreferrer" class="btn btn-primary"><span>View</span></a></div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <div id="ms-container">
        <div class="gn-main-event-container">
            <div class="gn-main-event-content">
                <div class="gn-main-loader"></div>
                <div class="gn-main-event-text"></div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
